.navbar-text{
    font-weight: bold;
    color: black !important;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    max-width: 1000px !important;
    width: 100% !important;
}
.nav-link{
    text-transform: uppercase;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.active{
    color: #45B39D !important;
}
#header{
    margin: 50px auto;
}

.header-img{
    width: 70%;
    border-radius: 25px;
}
.app-img{
    width: 10%;
    padding-right: 10px;
    cursor: pointer;
}
#header h2 {
    font-family: 'Montserrat', sans-serif;
}
#header h5{
    font-family: 'Montserrat', sans-serif;
}
#header p{
    font-family: 'Montserrat', sans-serif;
}
#article{
    margin: 50px auto;
}
#article .container-fluid{
    border-bottom: #ECF0F1  solid;
    border-top: #ECF0F1 solid;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.article-img{
    width: 1000px;
    height: 300px;
   object-fit: cover;
   margin:35px auto;
}
#article p{
    font-family: 'Montserrat', sans-serif;
    
}
.thumbnail{
    width: 100%;
}
.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.big-img{
    position: relative;
    text-align: center;
    color: white;
    margin: 50px auto;
}
.team-img{
    width: 50%;
    margin: 20px 80px;
}
#team{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
#team h2 {
text-align: center;
margin-bottom: 50px;
}
#team h4 {
    text-align: center;
}
#team p{
    text-align: center;
}
#contact{
    background-color: #A9CCE3;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}
.map{
    width: 70%;
    margin: 40px auto;
    border-radius: 10px;
}
#contact h2{
    color: white;
    margin:40px auto;
}
.box{
    padding: 10px ;
   width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.message-box{
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom:20px ;
}
.btn-primary{
    background-color:#45B39D !important;
    
}

.footer-head,
.footer-img{
    display: inline-flex;
}
.footer-img{
    margin-left: 200px;
}
.footer-img1,
.footer-img2,
.footer-img3{
      padding-left: 20px;
      margin-top: 15px;
}
#scrollToTopBtn {
    background-color:white !important;
    color:white;
    border-color: white !important;
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin-top: 15px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background-color: #45B39D !important;
}
.backtotop-img{
    width: 10%;
    margin-bottom: 2px;
}
.footer-head{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
#footer-title{
    display: inline;
}
@media only screen and (max-width:421px){
    #footer-title{
        display: inline;
        padding-top: 15px;
        float: left;
    }
    #footer-descriptionn
    {
        display:inline;
        margin: auto 0px;
        padding-left: 20px;
    }
    #scrollToTopBtn{
        float: right !important;
        margin-right: 0px !important;
    }

}