
@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}
.navbar-text{
    font-weight: bold;
    color: black !important;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    max-width: 1000px !important;
    width: 100% !important;
}
.nav-link{
    text-transform: uppercase;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.active{
    color: #45B39D !important;
}
.blue{
    color:#45B39D ;
}
.btn-secondary{
    background-color: #45B39D !important;
}
.btn-secondary:hover,
.mail-img:hover{
    background-color: #2d917d !important;
}
.btn-outline-secondary:hover{
    background-color: #45B39D !important;
}

/*#header{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    padding-bottom: 70px;
}*/

.hey{
    padding-top: 75px;
}
.intro{
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.intro-para{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.hey{
    font-family: 'HelveticaNeue-Thin';
    font-size: 18px;
}
.linevector-img{
    width: 50%;
    margin-left: 50px;
}
.bullet-points{
    width: 45%;
    margin-top: -30%;
    margin-left: 10%;
    z-index: -10;
    position: relative;
}
.follow,
.insta,
.youtube,
.dribble{
    display: inline-flex;
    margin:10px 0px;
}
.follow{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.insta,
.dribble,
.youtube{
    width: 10%;
    padding-left: 10px;
    cursor: pointer;
}
.btn
{
    margin-right: 15px;
    margin-top: 20px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.relative{
    position: relative;
}
.border{
    border: 1px solid #524f4f;
    border-radius: 50%;
    width: 75%;
    height: 80%;
    left: 15%;
    top: 7%;
    position: absolute;
    z-index: -1;
}
.faceimg{
    width: 80%;
    margin-top: 70px;
    margin-left: 90px;
    border-radius: 50%;
}
#content-1 .row{
    
    align-items: center;
    --bs-bg-opacity: 1;
    background-color:#A3E4D7!important;
    border-radius: 25px;
    margin-top: 40px;
    padding: 30px 30px;
    margin:100px 10px;
    
}
.flex{
    display: flex;
}
.faceimg2{
    width: 100%;
    border-radius: 10%;
}
.para,
.para1{
    font-family: 'Montserrat', sans-serif;
  font-size: 18px;   
}
.con-head{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
    padding-top: 20px;
}
.con-para{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#content-2 .container-fluid{
    margin-bottom: 40px;
}
.btn-light{
    background-color:#45B39D !important;
    float: right !important;
    margin-top: 0px;
    color: white !important;
}
.btn-light:hover{
    background-color: #2d917d !important;
}
.con2-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.con2-head{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    margin-left: 10px;
}
.con2-head-img1{
    margin-left: 10px;
    margin-right: 10px;
}
.con2-head-img2{
    margin-left: 30px;
    margin-right: 10px;
}
.con2-para{
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.con3-head{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.con3-img{
    width: 100%;
    border-radius: 10%;
}
.con3-head1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
.con3-para{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
#content-4 .container-fluid{
    background-color: #73C6B6;
    border-radius: 25px;
    padding: 40px 30px;
}
.con4-head{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.col4-btn{
   background-color: white;
   margin-top: 30px;
}
 .btn-link{
     margin-left: 20%;
 }
.mail-img{
    padding-bottom: 5px;
    padding-right: 3px;
    background-color: #45B39D !important;
}
.logo-img{
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 45px;
}
.card-img{
    padding-top: 10px;
    width: 30% !important;
}
.card-text3{
    padding-top: 85px;
    font-family: 'Montserrat', sans-serif;
}
.card-text{
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.rating{
    position: absolute;
}
.star-image{
    position: relative;
   
}
#tetimonial{
    background-color: #ABEBC6;
    padding-top: 30px;
    padding-bottom: 30px;
}
#tetimonial h6{
    font-family: 'Montserrat', sans-serif;
}
.tetimonial-head{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}
#tetimonial .white-bg{
    background-color: white !important;
   padding: 20px 20px;
   margin-right: 80px;
   margin-bottom: 60px;
   border-radius: 25px 0px 25px 25px; 
}
.footer-head,
.footer-img{
    display: inline-flex;
}
.footer-img{
    margin-left: 200px;
}
.footer-img1,
.footer-img2,
.footer-img3{
      padding-left: 20px;
      margin-top: 15px;
}
#scrollToTopBtn {
    background-color:white !important;
    color:white;
    border-color: white !important;
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin-top: 15px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background-color: #45B39D !important;
}
.backtotop-img{
    width: 10%;
    margin-bottom: 2px;
}
.footer-head{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
#footer-title{
    display: inline;
}
.back-to-top{
    padding: 10px 10px;
    border: none !important;
    border-radius: 25px;
}
 

/*about page*/

#header-1{
    margin: 50px auto;
}

.header-img{
    width: 70%;
    border-radius: 25px;
}
.app-img{
    width: 10%;
    padding-right: 10px;
    cursor: pointer;
}
#header-1 h2 {
    font-family: 'Montserrat', sans-serif;
}
#header-1 h5{
    font-family: 'Montserrat', sans-serif;
}
#header-1 p{
    font-family: 'Montserrat', sans-serif;
}
#article{
    margin: 50px auto;
}
#article .container-fluid{
    border-bottom: #ECF0F1  solid;
    border-top: #ECF0F1 solid;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.article-img{
    width: 1000px;
    height: 300px;
   object-fit: cover;
   margin:35px auto;
}
#article p{
    font-family: 'Montserrat', sans-serif;
    
}
.thumbnail{
    width: 100%;
}
.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.big-img{
    position: relative;
    text-align: center;
    color: white;
    margin: 50px auto;
}
.team-img{
    width: 50%;
    margin: 20px 80px;
}
#team{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
#team h2 {
text-align: center;
margin-bottom: 50px;
}
#team h4 {
    text-align: center;
}
#team p{
    text-align: center;
}
#contact{
    background-color: #A9CCE3;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}
.map{
    width: 70%;
    margin: 40px auto;
    border-radius: 10px;
}
#contact h2{
    color: white;
    margin:40px auto;
}
.box{
    padding: 10px ;
   width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    
}
.message-box{
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom:20px ;
    border: none;
    resize: none;
}
.btn-primary{
    background-color:#45B39D !important;
    border: none !important;
}
.btn-primary:hover{
    background-color: #2d917d !important;
}

/*project page*/


#header-2{
    margin: 50px auto;
}
#header-2 h1{
    font-family: 'Montserrat', sans-serif;
}
.nav-tabs{
    border-bottom: none !important;
}
#header-2 .nav-link{
    font-family: 'Montserrat', sans-serif;
    color:#979A9A;
    margin-top: 20px;
    
    text-transform: capitalize;
    transition: 0.3s;
}
#header-2 .nav-item :hover{
    border-bottom: solid #45B39D ;
    transition: 0.3s;
}
.project-img{
    width: 100%;
    margin-bottom: 30px;
}
.con2-head,
.con2-para{
    font-family: 'Montserrat', sans-serif;
}
.con2-para{
    margin-bottom: 80px;
    margin-top: 15px;
}
.con2-head-img2{
    margin-left: 30px;
}
#content-5 .container-fluid{
    background-color: #73C6B6;
    border-radius: 25px;
    padding: 40px 30px;
}
.con4-head{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.mail-btn{
    padding-bottom: 5px;
    float: right;
    margin-top: 30px;
    background-color: #45B39D !important;
}
.mail-btn:hover{
    background-color:  #2d917d !important;
}
.style{
    color: black !important;
    text-decoration: none;
}

/*case study*/

.case-study{
    margin-top: 40px;
    margin-bottom: 0px;
}
#header-3 .row{
    margin: 40px 0px;
}
#header-3 .container-fluid{
    border-bottom: solid #B3B6B7;
}
#project-info .container-fluid{
    border-bottom: solid #B3B6B7;
    margin-bottom: 40px;
}
.project-img{
    width: 100%;
    margin-top: 40px;
}
.small-text{
    text-align: center;
    margin: 5px auto;
}
#project-info h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
#project-info h3{
    margin-bottom: 20px;
    margin-top: 30px;
}
.bottom{
    margin-bottom: 40px;
}
#content-6 h1{
    margin: 30px auto;
}
.con1-img{
    width: 100%;
    margin-bottom:30px;
}
#content-6{
    margin-bottom: 30px;
}

@media only screen and (max-width:375px){
    .faceimg,
    .bullet-points,
    .border{
        display: none;
    }
    .flex{
        display: block;
        padding-top: 10px;
    }
    .con2-img{
        width: 100%;
        height: auto;
    }
    .con2-responsive{
        display: block !important;
    }
    .mail-btn{
        margin-top: 53px;
    }
    .logo-img{
        margin-left: 17px;
    }

    .footer-img{
        margin-left: 30px;
        vertical-align: top;
    }
    .footer-head{
        padding-top: 20px;
    }
}
  
@media only screen and (max-width:768px){
    
}
  